<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="/favicon.svg">
	<title>Photo Sharing</title>
</head>

<body>
	<header>
		<% if (user) { %>
			<h1>Welcome, <%= user.username %>!</h1>
			<form action="/_auth/logout/" method="post">
				<button type="submit">logout</button>
			</form>
		<% } else { %>
			<h1>Welcome, Guest!</h1>
			<p><a href="/_auth/login">log in</a> or <a href="/_auth/signup/">sign up</a></p>
		<% } %>
	</header>
	<footer class="info">
		<p>Created by <a href="https://www.wry.ch">Andy</a></p>
	</footer>
</body>

</html>